@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Color */

:root {
  --color-primary: #2a334a;
  --color-title: white;
  --font-family: "Roboto", sans-serif;
}
